apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "api_key_endpoint": "https://your-org.app.spacelift.io",
      "api_key_id": "25CH4RL0NGID0NLYUPP3RCH4RS",
      "api_key_secret": "12ad12ad12ad12ad12affg1234adasf1234123sdasd123asd123",
    }
